p {
    font-size: 17px;
    margin: 0;
}
a {
    color:blue;
    text-decoration: none;
    font-weight: bold;
}
.title {
    font-weight: bold; 
    font-size: 25px;
    margin-top: 30px;
}
.date {
    color: green
}
.years {
    color: red; 
    font-weight: bold;
}
[target] {
    background: url("extref.png") left center no-repeat;
    padding-left: 12px;
}
.text {
    font-style: italic; 
    color: blue;
}
.last-link {
    color: blue;
    margin-top: 30px;
    display: inline-block;
}


